<div class="m-4">
  <h2 class="text-xl font-semibold tracking-wider mb-4">
    Create your new shop
  </h2>

  <form (ngSubmit)="create()" [formGroup]="formGroup">
    <!-- Name -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Store Name</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        formControlName="name"
        maxlength="32"
      />
    </mat-form-field>

    <!-- Category -->
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option [value]="category" *ngFor="let category of categories">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Image -->
    <div class="overflow-hidden bg-white border rounded-2xl shadow">
      <app-cover-image (change)="uploadCover($event)"></app-cover-image>
      <app-profile-avatar (change)="uploadProfile($event)"></app-profile-avatar>
    </div>

    <div class="my-8">
      <button mat-flat-button color="primary" class="w-full" type="submit">
        Create
      </button>
    </div>
  </form>
</div>
