<div class="flex items-center justify-center h-60" *ngIf="loading;else loaded">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #loaded>
  <ng-container *ngFor="let product of products; let i=index;">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title
          class="font-normal flex flex-col space-y-1 text-gray-500"
        >
          <div class="text-base font-bold text-gray-700">
            {{product.name}}
          </div>
          <div class="text-sm" *ngIf="product.category">
            {{product.category}}
          </div>
          <div class="text-sm">
            {{product.price.toLocaleString()}} Kyats
          </div>
        </mat-card-title>
        <img mat-card-md-image [src]="product.image_url" />
      </mat-card-title-group>
    </mat-card>
    <mat-divider *ngIf="i+1!==products.length" class="opacity-60"></mat-divider>
  </ng-container>
</ng-template>
